{
  "presets": [
    [
      "next/babel",
      {
        "preset-react": {
          "runtime": "automatic",
          "importSource": "@emotion/react"
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@services": "./src/services",
          "@utils": "./src/utils",
          "@hooks": "./src/hooks",
          "@components": "./src/components",
          "@styles": "./src/styles",
          "@assets": "./src/assets",
          "@recoil": "./src/recoil"
        }
      }
    ],
    [
      "@emotion",
      {
        "autoLabel": "dev-only", // 기본값 'dev-only'
        "labelFormat": "[dirname]-[filename]-[local]"
      }
    ],
    ["inline-react-svg"]
  ]
}
